body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color: #333;
    text-align: right;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

.split {
    width: 50%;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.left {
    left: 0;
    color: white;
    background-size: 200% 200%;
    animation: Gradient 10s ease infinite;
}

@keyframes Gradient {
    0% {
        background: radial-gradient(circle at center, #000, transparent);
    }
    25% {
        background: radial-gradient(circle at center, #004d7a, transparent);
    }
    50% {
        background: radial-gradient(circle at center, #0083b0, transparent);
    }
    75% {
        background: radial-gradient(circle at center, #00b4d8, transparent);
    }
    100% {
        background: radial-gradient(circle at center, #000, transparent);
    }
}

.right {
    right: 0;
}

h2 {
    padding: 20px;
    text-align: center;
}
